{% extends 'base.html' %}
{% block titulo %}Creacion de nuevas{% endblock %}
{% block contenido %}


{% include '_menu.html' %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-10 col-lg-7">
            <h1>Hola {{session.usuario}} estas dispuesto a agregar una nueva receta?</h1>
            <img src="/static/images/recipe_create.jpeg" class="img-thumbnail" class=" rounded float-start" alt="Foto de creacion">
        </div>
        <div class="col-md-10 col-lg-4">

            <h4>Agregar una nueva receta </h4>
            <hr>

            <form action="/process_recipe" enctype=multipart/form-data method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Titulo</label>
                    <input type="text" name="name" class="form-control form-control-sm" id="name" aria-describedby="nameHelp" placeholder="Nombre de la receta" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Descripcion</label>
                    <textarea type="description" name="description" class="form-control form-control-sm" id="description" placeholder="Describe la receta" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="instructions" class="form-label">Instrucciones</label>
                    <textarea type="instructions" name="instructions" class="form-control form-control-sm" id="instructions" placeholder="De las instrucciones de como se prepara" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="date_made" class="form-label">Fecha de elaboracion / cocción</label>
                    <input type="date" name="date_made" class="form-control form-control-sm" id="date_made" aria-describedby="fechaElaboracionHelp">
                </div>
                <label for="form-label">Menos 30 minutos?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="under_30" id="under_301" value="1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Si
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="under_30" id="under_302" checked value="0">
                    <label class="form-check-label" for="flexRadioDefault2">
                        No
                    </label>
                </div>
                <div >
                    <label for="formFileSm" class="form-label">Adjunte foto del plato</label>
                    <input class="form-control form-control-sm" id="formFileSm" type="file" name="file" required />
                    <!-- <input type=file name=file> -->
                </div>
                <br>
                <button type="submit" class="btn btn-success">Ingresar al Sistema</button>
            </form>

        </div>
    </div>
</div>


{% endblock %}